    <div class="container">
        <div class="row">
            <div class="col-sm-6">
              <h2>Add Crawler</h2>
              <p>Turn on the sites which you want to get crawl</p>            
              <table class="table">
                <thead>
                  <tr>
                    <th>Sites</th>

                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td><h4>www.daraz.pk</h4></td>
                <td>
                    <div class="col-sm-6 pull-right">                   
                       <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><h4>www.kaymu.pk</h4></td>

                <td>
                    <div class="col-sm-6 pull-right">        
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td><h4>www.mega.pk</h4></td>
                <td>
                    <div class="col-sm-6 pull-right">        
                        <div class="onoffswitch ">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
    </tbody>
</table>
</div>
</div>


<input id="ex6" type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="3"/>
<span id="ex6CurrentSliderValLabel">Current Slider Value: <span id="ex6SliderVal">3</span></span>

</div>