<h1>Choose Your Recommendations Limit</h1>
<div class="dgradio-sb ">
  <input type="radio" class="dg-item" name="your-group-2" id="radio6" />
  <label for="radio6" class="dg-label dg-10"  data-caption="1-3">
    Minimum<span class="dg-bg"></span>
  </label>

  <input type="radio" class="dg-item" name="your-group-2" id="radio7" checked="checked"/>
  <label for="radio7" class="dg-label dg-30"  data-caption="5-10">
    Average<span class="dg-bg"></span>
  </label>

  <input type="radio" class="dg-item" name="your-group-2" id="radio8" >
  <label for="radio8" class="dg-label dg-50"  data-caption="10-15">
    Vaerity <span class="dg-bg"></span>
  </label>

  <input type="radio" class="dg-item" name="your-group-2" id="radio9" />
  <label for="radio9" class="dg-label dg-100"  data-caption="all availble!">
    Maximun<span class="dg-bg"></span>
  </label>

</div>

