<!DOCTYPE html>
<html>
  <head>
    <title>welcome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'table', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="container-fluid">
    <%= yield %>


</div>

    
  </body>
</html>